.App {
  text-align: center;
}

.nav-container {
  /* border: 2px solid blue; */
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-link {
  font-size: 20px;
  text-decoration: none;
  color: grey;
  font-weight: 700;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

img {
  width: 350px;
  height: 350px;
}


h2 {
  font-size: 100px;
}

.container {
  /* border: red solid 2px; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  /* background-image: url("./images/space.jpeg"); */

.ISS-image {
  border-radius: 10px;
  border-width: 5px;

}

.Date-name {
  color: blue;
  font-size: 20px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(1500deg);
  }
}
